.btn1 {
  border-radius: 10rem;
  color: white;
  background-color: #007bff; 
  border: none;
  height: 3rem;
  width: 200px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn1:hover {
  background-color: #0056b3; 
}


.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2px;
}
 .container2 {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  flex-wrap: wrap; 
  padding: 20px;
  gap: 20px; 
}


h3, p {
  text-align: center;
  margin-bottom: 20px;
  color: #333; 
}

.paragraph {
  margin-top: 11px;
  text-align: center;
  color: #666; 
}

p {
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column; 
  margin-bottom: 15px;
  width: 100%;
  max-width: 600px; 
}

input {
  width: 100%; 
  border-radius: 1rem;
  padding: 10px; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 1rem;
}


.btn2 {
  text-align: center;
  width: 100%;
}

.btn2 .btn1 {
  width: auto; 
  padding: 10px 20px; 
}
.form-group1{
  display: flex;
  flex-direction: column;
  width:100%;
  max-width:600px;
  margin-left: 20px;
  justify-content: center;
}
.image {
  width: 100%;

  position: relative;
  padding-bottom: 50%;
  background-image: url("homeimage.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 10px; 

}
.success{

  height: 300px;
width:300px;
  margin-left: 75px;
overflow: hidden;
background-position: center;
  background-image: url('41340ab1a4529c7dd753f03268087e08.gif');
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .success {
    height: 200px;
    width: 200px;
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .success {
    height: 150px;
    width: 150px;
    margin-left: 25px;
  }
}
@media(max-width:768px){
  .card{
    margin-top: 2rem;

  }
  .container{
    display: flex;

    justify-content: center;
  }
}

.mapImage{
  height:200px;
  width: 100%;
  max-width:18rem;
  background-image: url("map.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 
}

.img2{
  height:200px;
  width:200px;
  
  background-image: url("41340ab1a4529c7dd753f03268087e08.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.c1{
  display: flex;
  justify-content: center;

}
.txt{
  display: flex;
  align-items: center;
}